{{> header}}
<div>
    <div class="max-w-[--max-w] mx-auto">
        <div class="hidden md:flex py-2 text-gray-500 font-semibold text-[0.8rem]  items-center space-x-2">
            <span class="cursor-pointer">Anasayfa</span>
            <span class="tio">chevron_right</span>
            {{#each breadcrumbs}}
            {{#IsEq this.last 0}}
            <a href="{{this.url}}" class="cursor-pointer font-normal italic">{{this.name}}</a>
            {{else}}
            <a href="{{this.url}}" class="cursor-pointer">{{this.name}}</a>
            <span class="tio">chevron_right</span>
            {{/IsEq}}
            {{/each}}
        </div>
        <div>
            {{!-- Top Area --}}
            <div
                class="flex md:flex-row flex-col md:space-x-5 space-y-5 md:space-y-0 border border-gray-200 rounded-lg p-5">
                <div class="w-full md:w-[40%]">
                    <div class="flex flex-col-reverse md:flex-row md:space-x-2 space-y-2 md:space-y-0">
                        <div class="space-y-2  overflow-y-auto whitespace-nowrap">
                            {{#each urun.resimler}}
                            <a href="{{this}}" class="w-[75px] h-[75px] inline-flex md:flex border border-gray-200">
                                <img src="{{this}}" class="w-full h-full" fetchpriority="high" alt="">
                            </a>
                            {{/each}}
                        </div>
                        <div class="flex-1 overflow-hidden relative border border-gray-200">
                            <div class="caro3 owl-carousel owl-theme">
                                {{#each urun.resimler}}
                                <div>
                                    <a href="{{this}}" class="w-full h-full">
                                        <img src="{{this}}" class="w-full h-full" fetchpriority="high" alt="">
                                    </a>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-[60%] bg-white md:p-10 p-5 pt-5 border border-gray-200 rounded-md">
                    <div class="text-[1.4rem] pb-2 font-semibold">{{urun.kod}}</div>
                    <hr class="mb-2">
                    <div class="pb-2 text-[1rem]">
                        <div class="flex items-center justify-start  text-[1.2rem]">
                            {{#stars this.oran }}{{/stars}}
                        </div>
                        <div><strong>Ürün Kod:</strong> <span>{{urun.name}}</span></div>
                        {{!-- <div><strong>Barkod:</strong> <span>{{urun.barkod}}</span></div> --}}
                        <div><strong>Kategori:</strong> <span>{{lastkategori.name}}</span></div>
                        {{!-- <div><strong>Stok:</strong> <span>{{urun.stok}}</span> adet</div> --}}
                    </div>
                    <div class=" flex items-center space-x-5">
                        <div
                            class="inline-flex flex-col justify-center rounded-md  text-[1.2rem] items-center p-2 text-white  bg-[red] font-semibold">
                            <div class="">%{{urun.indirim}}</div>
                            <div class="">İndirim</div>
                        </div>
                        <div class="inline-block">
                            <div class="text-gray-600 text-[1.4rem] font-bold line-through ">{{#DigitFract urun.fiyat
                                2}} {{/DigitFract}}{{urun.currSymb}}</div>
                            <div class="text-[2rem] leading-none font-bold">{{#DigitFract urun.indirimli_fiyat 2}}
                                {{/DigitFract}}{{urun.currSymb}}</div>
                        </div>
                    </div>
                    <div class="pt-5">
                        <div class="inline-flex border border-gray-200">
                            <div data-ur="{{urun.id}}"
                                class="btn-subsepet tio text-[1rem] p-2   font-bold bg-gray-200 select-none cursor-pointer hover:bg-gray-300">
                                remove</div>
                            <input type="number" data-ur="{{urun.id}}"
                                class="in-adetsepet text-[0.9rem] w-[50px] border-r border-l border-gray-200 text-center"
                                value="1">
                            <div data-ur="{{urun.id}}"
                                class=" btn-addsepet tio text-[1rem] p-2 font-bold bg-gray-200 select-none cursor-pointer hover:bg-gray-300">
                                add</div>
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row md:space-x-3 space-y-2 md:space-y-0 py-5">
                        {{#IsEq urun.stok 0}}
                        <div class="px-4 py-2 rounded-md bg-gray-200 text-red-600 font-bold text-[0.8rem]">
                            <div>Stoklarımız Tükenmiştir. </div>
                            <div>Whatsapp üzerinden iletişime geçebilirsiniz</div>
                        </div>
                        {{else}}
                        <button data-ur="{{urun.id}}"
                            class="btn-sepete-ekle p-2 text-white bg-blue-900  font-bold hover:bg-blue-950 active:bg-blue-700 rounded-md flex items-center space-x-2">
                            <i class="tio text-[1rem]">shopping_cart_outlined</i>
                            <div class="text-[0.8rem]">Sepete ekle</div>
                        </button>
                        {{!-- <button
                            class="btn-hmnal p-2 text-white bg-gray-500  font-bold hover:bg-gray-700 active:bg-gray-400 rounded-md flex items-center space-x-2">
                            <i class="tio text-[1rem]">shopping_basket_outlined</i>
                            <div class="text-[0.8rem]">Hemen Al</div>
                        </button> --}}
                        {{/IsEq}}
                        <a href="https://api.whatsapp.com/send?phone={{wpno}}&text={{weblink}}/urun/{{urun.url}}"
                            target="_blank"
                            class="p-2 text-white bg-[#33aa29]  font-bold hover:bg-green-700 active:bg-green-400 rounded-md flex items-center space-x-2">
                            <i class="tio text-[1rem]">whatsapp_outlined</i>
                            <div class="text-[0.8rem]">WHATSAPP ILE SİPARİŞ VER</div>
                        </a>
                    </div>
                    <div data-ur="{{urun.id}}"
                        class="flex items-center space-x-2 cursor-pointer select-none hover:text-[red] btn-fav1 ">
                        <span class="tio text-[1.6rem] ">heart_outlined</span>
                        <span>Favorilerime ekle</span>
                    </div>
                    <div class="flex items-center space-x-4 py-2">
                        {{!-- <div class="inline-flex items-center space-x-1"><strong
                                class="tio text-[1.4rem]">incognito</strong> <strong class="goruntulenme text-[1.2rem]"
                                data-say="{{urun.goruntulenme}}">{{urun.goruntulenme}}</strong></div> --}}
                        {{!-- <div class="inline-flex items-center space-x-1">
                            <strong class="tio text-[1.4rem]">thumbs_up</strong>
                            <strong class="begenilme text-[1.2rem]"
                                data-say="{{urun.begenilme}}">{{urun.begenilme}}</strong>
                        </div> --}}
                        <div class="kalan hidden" data-say="{{urun.alinan}}">{{urun.alinan}}</div>
                    </div>
                    <div class="flex items-center space-x-2 py-5">
                        <div
                            class="inline-flex flex-col items-center border border-gray-300 rounded-md p-2 text-[0.9rem]">
                            <div class="tio text-[1.5rem]">protection</div>
                            <div class="text-center lg:text-start">Hızlı Gönderi</div>
                        </div>
                        <div
                            class="inline-flex flex-col items-center border border-gray-300 rounded-md p-2 text-[0.9rem]">
                            <div class="tio text-[1.5rem]">security</div>
                            <div class="text-center lg:text-start">Güvenli Alışveriş</div>
                        </div>
                        <div
                            class="inline-flex flex-col items-center border border-gray-300 rounded-md p-2 text-[0.9rem]">
                            <div class="tio text-[1.5rem]">sort</div>
                            <div class="text-center lg:text-start">İade ve Değişim</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-5 px-5 md:px-0">
                <div class="border border-gray-200 rounded-lg  bg-white px-2 ">
                    <div class="flex justify-center space-x-5 py-5 border-b  border-gray-200 text-center">
                        <div ro="urun"
                            class="text-[0.8rem] lg:text-[1rem] duration-200 hover:text-blue-700 text-gray-600 font-semibold cursor-pointer select-none">
                            Ürün Açıklaması </div>
                        <div ro="garanti"
                            class="text-[0.8rem] lg:text-[1rem] duration-200 hover:text-blue-700 text-gray-600 font-semibold cursor-pointer select-none">
                            Garanti ve Teslimat</div>
                        <div ro="yorum" data-ur="{{urun.id}}"
                            class="text-[0.8rem] lg:text-[1rem] duration-200 hover:text-blue-700 text-gray-600 font-semibold cursor-pointer select-none">
                            Yorumlar</div>
                    </div>
                    <div class="p-5 alt-area">
                        <div class="urun-ack">
                            {{{urun.aciklama}}}
                        </div>
                        <div style="display:none" class="garanti-ack">
                            {{{urun.garanti_aciklama}}}
                        </div>
                        <div style="display:none" class="yorum-ack lg:space-y-5 w-full lg:w-1/2 mx-auto lg:space-x-2">
                            {{!-- {{{urun.yorumlar}}} --}}

                            {{#if yorumlar}}
                            <div class="ylist">
                                <div class="star-area py-5 flex items-center justify-center space-x-5">
                                    <div class="text-center">
                                        <div class="text-[1.2rem] font-semibold">{{yorumTotal}}</div>
                                        <div class="flex items-center justify-center text-[1.5rem]">
                                            {{{totalStars}}}

                                        </div>
                                        <div class="text-[0.8rem] font-semibold">{{yorumlength}} Yorum</div>
                                    </div>
                                    <div>
                                        <button
                                            class="btn-yrm-yapp text-[0.8rem] bg-green-600 text-white px-2 py-1 rounded hover:bg-green-700 active:bg-green-400 flex items-center space-x-2">
                                            <span class="tio ">message_outlined</span>
                                            <span>Yorum Yap</span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                            {{#each yorumlar}}
                            <div class="yromlar pt-6">
                                <div class="flex items-center space-x-2 pb-2">
                                    <div class="font-semibold">{{this.ad_soyad}}</div>
                                    <div class="flex items-center justify-center text-[1.2rem] ">
                                        {{#stars this.oran }}
                                        {{/stars}}

                                    </div>
                                    <div class="flex-1"></div>
                                    <div class="text-[0.7rem]">{{this.tarih}}</div>
                                </div>
                                <div class="pb-2 text-[0.8rem]">
                                    {{{this.msg_area}}}
                                </div>
                                {{#if this.first_resim}}
                                <button class="">
                                    <img src="{{this.first_resim}}" class="urunyrmpic w-[100px] h-[100px] object-contain">
                                </button>
                                <div class="hidden urun_ytrm_resim">
                                {{#each this.resimler}}
                                    <img src="{{this}}" alt="">
                                {{/each}}
                                 </div>
                                {{/if}}
                                <hr class="mt-2">
                            </div>
                            {{/each}}
                            {{else}}
                            <div class="text-center pb-8">
                                <div class="text-gray-600 py-2">Bu ürün içim henüz yorum yapılmadı</div>
                                <button
                                    class="mx-auto btn-yrm-yapp text-[0.8rem] bg-transparent border border-black/80 text-black px-2 py-1 rounded hover:bg-black/10 active:bg-black/5 flex items-center space-x-2">
                                    <span class="tio ">message_outlined</span>
                                    <span>Yorum Yap</span>
                                </button>
                            </div>
                            {{/if}}

                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{{> footer}}
<div style="display:none" class="photocar">
    <div style="" class="popcorarea fixed top-0 left-0 w-full h-full bg-black/30 flex items-center justify-center z-20">
        <button
            class="popcorbtncls absolute top-5 right-5 text-[2rem] rounded-full bg-black/50 p-2 text-white flex items-center justify-center tio">clear</button>
        <div class="w-[90vw] tlear">
            <div class="owl-carousel owl-theme">
                <div class="h-[90vh] ">
                    <img src="{{firsturunresim}}" class="h-full w-full object-contain " alt="">
                </div>
                <div class="h-[90vh] ">
                    <img src="{{firsturunresim}}" class="h-full w-full object-contain " alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display: none;"
    class="yrmfrma-area fixed top-0 left-0 w-[100vw] h-[100vh] bg-black/10 z-[9999] flex items-center justify-center">
    <div
        class=" border w-full h-full lg:w-1/3 lg:h-[90vh] rounded-md  lg:shadow-lg bg-white relative overflow-hidden overflow-y-auto">
        <div class="relative">
            <div class="flex items-center bg-white sticky top-0 w-full pl-4 z-10">
                <div class="flex-1 font-semibold">
                    Ürünü Yorumlayın
                </div>
                <button data-ur="{{urun.id}}" data-yrmlnghth="{{yorumlenght}}"
                    class="btn-yrmyapp-close  tio rounded-full hover:bg-black/10 active:bg-black/5 p-2 flex items-center justify-center text-[1.4rem] ">clear</button>
            </div>
            <form class="flex flex-col space-y-2 yrmform p-5 ">

                <div class=" flex items-center">
                    <div class="">
                        <button class="popsinglimgbtn">
                            <img src="{{firsturunresim}}" class="w-[100px] h-auto" alt="">
                        </button>
                        <div style="display:none"
                            class="popsinglimg fixed top-0 left-0 w-full h-full bg-black/30 flex items-center justify-center z-20">
                            <button
                                class="absolute top-5 right-5 text-[2rem] rounded-full bg-black/50 p-2 text-white flex items-center justify-center tio">clear</button>
                            <img src="{{firsturunresim}}" class="w-full h-[90%] object-contain " alt="">
                        </div>
                    </div>
                    <div class="flex-1">
                        <div class="flex items-start justify-center space-x-2 text-[2rem] stars">
                            <button data-ur="1" class="tio text-orange-500">star</button>
                            <button data-ur="2" class="tio text-orange-500">star</button>
                            <button data-ur="3" class="tio text-orange-500">star</button>
                            <button data-ur="4" class="tio text-orange-500">star</button>
                            <button data-ur="5" class="tio text-orange-500">star</button>
                            <input type="hidden" name="oran" value="5">
                        </div>
                        <div class="text-center text-[0.8rem]">Lütfen ürünü puanlayın</div>
                    </div>

                </div>
                <div>
                    <label for="" class="frm-lbl">Ad-Soyad</label>
                    <input type="text" placeholder="Ad/Soyad" class="frm-txt" name="ad_soyad">
                    <div class="text-red-500 italic text-[0.8rem] err-adsyd"></div>
                </div>
                <div>
                    <label for="" class="frm-lbl">E-Posta Adresi</label>
                    <input type="text" placeholder="Eposta" class="frm-txt" name="email">
                    <div class="text-red-500 italic text-[0.8rem] err-email"></div>
                </div>
                <div>
                    <label for="" class="frm-lbl">Yorumunuz</label>
                    <textarea class="frm-txt !h-[150px] w-full"
                        placeholder="Ürünün hem fiyatı uygun hem de göründüğü gibi kaliteli bir ürün"
                        name="msg_area"></textarea>
                    <div class="text-red-500 italic text-[0.8rem] err-msgra"></div>
                </div>
                <div class="pb-10">
                    <label for="" class="frm-lbl">Ürün Fotoğrafları</label>
                    <button
                        class="btn-res-sec p-4 flex flex-col items-center justify-center text-black/50  w-[100px] h-[100px] border-2 border-dashed border-black/30  rounded hover:bg-black/10 active:bg-black/5">
                        <div class="tio text-[1.2rem]">photo_camera</div>
                        <div class="text-[0.8rem] leading-tight font-semibold text-center">
                            Fotoğraf
                            Ekle</div>
                    </button>
                    <div style="display: none;" class="spinrea flex items-center justify-center py-5">
                        <div class="spin icon-spin-1 spin-steps1 text-[24px]  text-orange-500"></div>
                    </div>
                    <div class="">
                        <div class="resim-list grid grid-cols-4 gap-3 py-4"></div>
                        <input type="text" class="hidden" name="resimler">
                        <input type="file" class="hidden" id="resimler" multiple accept=".png,.jpeg,.jpg,.webp"
                            data-ur="{{urun.id}}" data-yrmlnghth="{{yorumlenght}}">
                    </div>

            </form>
            <div class="px-4 pb-4">
                <button data-ur="{{urun.id}}"
                    class="btn-yrm-gondeer px-4 py-2 border text-white bg-orange-500 hover:bg-orange-700 active:bg-orange-400 rounded-md w-full font-semibold">
                    Gönder
                </button>
            </div>
            <div style="display: none;"
                class="spinrea1 absolute top-0 left-0 w-full h-full bg-white flex items-center justify-center z-20">
                <div class="spin icon-spin-1 spin-steps1 text-[24px]  text-orange-500"></div>
            </div>
        </div>
    </div>
</div>