{{>header}}
<div>
    <div class="max-w-[--max-w] mx-auto ">
        <div class="py-2 text-gray-500 font-semibold  flex items-center space-x-2 text-[1rem] px-5 md:px-2">
            <span class="cursor-pointer">Anasayfa</span>
            <span class="tio">chevron_right</span>
            <a href="/{{pageurl}}" class="cursor-pointer font-normal italic">{{pagename}}</a>
        </div>
        <div class="flex md:space-x-5 mb-4 py-5">
            <div class="hidden md:block md:w-1/4 border border-gray-200">
                {{#IsEq pagename 'hakkimizda'}}
                <a href="/hakkimizda"
                    class="block px-4 py-2 hover:bg-black/10 text-[--main] font-semibold hover:text-black   border-gray-300 cursor-pointer">
                    Hakkımızda</a>
                {{else}}
                <a href="/hakkimizda"
                    class="block px-4 py-2 hover:bg-black/10 hover:font-semibold hover:text-black text-[--koyu-dark]  border-gray-300 cursor-pointer">

                    Hakkımızda</a>
                {{/IsEq}}
                {{#IsEq pagename 'iletisim'}}
                <a href="/iletisim"
                    class="block px-4 py-2 hover:bg-black/10 border-t  text-[--main] font-semibold hover:text-black   border-gray-200 cursor-pointer">
                    İletişim</a>
                {{else}}
                <a href="/iletisim"
                    class="block px-4 py-2 hover:bg-black/10 border-t hover:font-semibold hover:text-black text-[--koyu-dark]  border-gray-200 cursor-pointer">

                    İletişim</a>
                {{/IsEq}}

                {{#IsEq pagename 'mesafeli-satis-sozlesmesi'}}
                <a href="/mesafeli-satis-sozlesmesi"
                    class="block px-4 py-2 hover:bg-black/10 text-[--main] font-semibold hover:text-black  border-t border-gray-200 cursor-pointer">
                    Mesafeli Satış Sözleşmesi</a>
                {{else}}
                <a href="/mesafeli-satis-sozlesmesi"
                    class="block px-4 py-2 hover:bg-black/10 hover:font-semibold hover:text-black text-[--koyu-dark] border-t border-gray-200 cursor-pointer">

                    Mesafeli Satış Sözleşmesi</a>
                {{/IsEq}}
                {{!-- {{#IsEq pagename 'havale-bildirimleri'}}
                <a href="/havale-bildirimleri"
                    class="block px-4 py-2 hover:bg-black/10 text-[--main] font-semibold hover:text-black border-t  border-gray-200 cursor-pointer">
                    Havale Bildirimleri</a>
                {{else}}
                <a href="/havale-bildirimleri"
                    class="block px-4 py-2 hover:bg-black/10 hover:font-semibold hover:text-black text-[--koyu-dark] border-t border-gray-200 cursor-pointer">

                    Havale Bildirimleri</a>
                {{/IsEq}}
                {{#IsEq pagename 'siparis-takip'}}
                <a href="/siparis-takip"
                    class="block px-4 py-2 hover:bg-black/10 text-[--main] font-semibold hover:text-black  border-t border-b border-gray-200 cursor-pointer">
                    Sipariş Takip</a>
                {{else}}
                <a href="/siparis-takip"
                    class="block px-4 py-2 hover:bg-black/10 hover:font-semibold hover:text-black text-[--koyu-dark]  border-t border-b border-gray-200 cursor-pointer">

                    Sipariş Takip</a>
                {{/IsEq}} --}}
            </div>
            <div class="w-full md:w-3/4">
                {{{temp}}}
            </div>
        </div>
    </div>
</div>
{{>footer}}